<app-navbar></app-navbar>
<div class="flex justify-between gap-2 mb-4 p-8">
  <div class="p-8 text-4xl text-white bg-red-600 rounded font-bold">{{pazienti().ROSSO?.length ?? 0}}</div>
  <div class="p-8 text-4xl text-white bg-orange-600 rounded font-bold">{{pazienti().ARANCIONE?.length ?? 0}}</div>
  <div class="p-8 text-4xl text-white bg-blue-600 rounded font-bold">{{pazienti().AZZURRO?.length ?? 0}}</div>
  <div class="p-8 text-4xl text-white bg-green-600 rounded font-bold">{{pazienti().VERDE?.length ?? 0}}</div>
  <div class="p-8 text-4xl text-gray-800 bg-gray-300 rounded font-bold">{{pazienti().BIANCO?.length ?? 0}}</div>
</div>
<div class="p-4 flex flex-col gap-6 bg-white dark:bg-gray-800">
  <div class="py-3 px-4 font-bold text-lg text-white rounded bg-red-600">CODICE ROSSO</div>
  @for(paziente of pazienti().ROSSO; track $index) {
  <app-paziente-list-item [paziente]="paziente" (outPaziente)="cambiaStatoList($event)"></app-paziente-list-item>
  }

  <div class="py-3 px-4 font-bold text-lg text-white rounded bg-orange-600">CODICE ARANCIONE</div>
  @for(paziente of pazienti().ARANCIONE; track $index) {
  <app-paziente-list-item [paziente]="paziente" (outPaziente)="cambiaStatoList($event)"></app-paziente-list-item>
  }

  <div class="py-3 px-4 font-bold text-lg text-white rounded bg-blue-600">CODICE AZZURRO</div>
  @for(paziente of pazienti().AZZURRO; track $index) {
  <app-paziente-list-item [paziente]="paziente" (outPaziente)="cambiaStatoList($event)"></app-paziente-list-item>
  }

  <div class="py-3 px-4 font-bold text-lg text-white rounded bg-green-600">CODICE VERDE</div>
  @for(paziente of pazienti().VERDE; track $index) {
  <app-paziente-list-item [paziente]="paziente" (outPaziente)="cambiaStatoList($event)"></app-paziente-list-item>
  }

  <div class="py-3 px-4 font-bold text-lg rounded bg-gray-300 text-gray-800">CODICE BIANCO</div>
  @for(paziente of pazienti().BIANCO; track $index) {
  <app-paziente-list-item [paziente]="paziente" (outPaziente)="cambiaStatoList($event)"></app-paziente-list-item>
  }
</div>
<p-dialog
  header="Modifica stato paziente: {{ pazienteSelezionato?.nome }} {{ pazienteSelezionato?.cognome }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <div class="flex items-center gap-4 mb-16">
    <label for="stato" class="font-semibold w-24">Stato</label>
    <p-select
      id="stato"
      class="flex-auto"
      [options]="statiPaziente"
      [(ngModel)]="selectedStato"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleziona stato"
    >
    </p-select>
  </div>
  @if(selectedStato !== 'DIMESSO') {
  <div class="flex items-center gap-4 mb-4">
    <label for="ospedale" class="font-semibold w-24">Ospedale</label>
    <p-select
      id="ospedale"
      class="flex-auto"
      [options]="ospedali"
      [(ngModel)]="selectedOspedale"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleziona ospedale"
      (onChange)="setReparti($event.value)"
    >
    </p-select>
  </div>
  @if(selectedOspedale) {
  <div class="flex items-center gap-4 mb-16">
    <label for="reparto" class="font-semibold w-24">Reparto</label>
    <p-select
      id="reparto"
      class="flex-auto"
      [options]="reparti"
      [(ngModel)]="selectedReparto"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleziona reparto"
    >
    </p-select>
  </div>
  } }
  <div class="flex justify-end gap-2">
    <p-button label="Cancella" severity="secondary" (click)="visible = false" />
    <p-button label="Salva" (click)="modificaPaziente()" />
  </div>
</p-dialog>
