<app-navbar></app-navbar>
<div class="container">
    <!-- 
        nella navbar c'è un menu a tendina con tutti gli ospedali e la get della lista ospedali. quando si preme su uno di questi, chiama
        (post) lista pazienti con l'id dell'ospedale 
    -->

    <app-paziente-list-item></app-paziente-list-item>
    <app-paziente-list-item></app-paziente-list-item>
    <app-paziente-list-item></app-paziente-list-item>
    <app-paziente-list-item></app-paziente-list-item>
    <app-paziente-list-item></app-paziente-list-item>
    <app-paziente-list-item></app-paziente-list-item>
</div>