<div class="container">
  <span class="codice-paziente">{{ paziente().codice }}</span>
  <span class="paziente-nome-cognome"
    >{{ paziente().nome }} {{ paziente().cognome }}</span
  >
  <span class="nome-ospedale">{{ paziente().nome_ospedale }}</span>
  <span class="nome-reparto">{{ paziente().nome_reparto }}</span>
  <span>
    <span class="stato-container">
      @if(paziente().stato === 'IN ATTESA' || paziente().stato === 'IN CARICO')
      {
      <button class="stato" (click)="cambiaStato()">{{ paziente().stato }}</button>
      } @else {
      <span>{{ paziente().stato }}</span>
      }
    </span>
  </span>
  <span class="orario-accettazione">{{
    paziente().data_inserimento | date : "dd/MM/yyyy"
  }}</span>
</div>