<div class="container">
  <span class="codice-paziente">{{ paziente().codice }}</span>
  <span class="paziente-nome-cognome"
    >{{ paziente().nome }} {{ paziente().cognome }}</span
  >
  <span class="nome-ospedale">{{ paziente().nome_ospedale }}</span>
  <span class="nome-reparto">{{ paziente().nome_reparto }}</span>
  <span>
    @if(paziente().stato === 'IN ATTESA' || paziente().stato === 'IN CARICO') {
    <button class="stato">{{ paziente().stato }}</button>
    } @else {
    {{ paziente().stato }}
    }
  </span>
  <span class="orario-accettazione">{{
    paziente().data_inserimento | date : "dd/MM/yyyy"
  }}</span>
</div>