<app-navbar></app-navbar>

<div class="form-container">
  <h2>Aggiungi paziente</h2>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <!-- Row with Nome and Cognome -->
    <div class="form-row">

      <div class="form-group">
        <label for="anonymouseMode">Paziente anonimo?</label>
        <input
          type="checkbox"
          style="width: 24px; height: 24px;"
          (click)="switchAnonymousMode()"
          [checked]="anonymouseMode()"
        />
      </div>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input id="nome" type="text" formControlName="nome" />
      </div>

      <div class="form-group">
        <label for="cognome">Cognome:</label>
        <input
          id="cognome"
          type="text"
          formControlName="cognome"
        />
      </div>
    </div>

    <!-- Row with Data di Nascita and Codice Fiscale -->
    <div class="form-row">
      <div class="form-group">
        <label for="dataNascita">Data di Nascita:</label>
        <input id="dataNascita" type="date" formControlName="dataNascita" />
      </div>

      <div class="form-group">
        <label for="codiceFiscale">Codice Fiscale:</label>
        <input id="codiceFiscale" type="text" formControlName="codiceFiscale" />
      </div>
    </div>

    <!-- Row with Ospedale, Reparto, Codice Colore -->
    <div class="form-row">
      <div class="form-group">
        <label for="ospedale">Ospedale:</label>
        <select id="ospedale" formControlName="ospedale">
          <option value="">Seleziona Ospedale</option>
          @for(ospedale of ospedaleOptions(); track $index) {
          <option [value]="ospedale.id">{{ ospedale.nome }}</option>
          }
        </select>
      </div>

      <div class="form-group">
        <label for="reparto">Reparto:</label>
        @if(repartoOptions().length === 0){
        <select id="reparto" disabled class="text-gray-500">
          <option value="">Seleziona Reparto</option>
        </select>
        } @else {
        <select id="reparto" formControlName="reparto">
          <option value="">Seleziona Reparto</option>
          @for(reparto of repartoOptions(); track $index) {
          <option [value]="reparto.id">{{ reparto.nome }}</option>
          }
        </select>
        }
      </div>

      <div class="form-group">
        <label for="codiceColore">Codice Colore: <u>(AIUTO)</u></label>
        <select id="codiceColore" formControlName="codiceColore">
          <option value="">Seleziona Codice Colore</option>
          @for(codiceColore of codiceColoreOptions; track $index) {
          <option [value]="codiceColore">{{ codiceColore }}</option>
          }
        </select>
      </div>
    </div>

    <!-- Row with Codice and Stato -->
    <div class="form-row">
      <!-- <div class="form-group">
        <label for="codice">Codice:</label>
        <input id="codice" type="text" formControlName="codice" />
      </div> -->

      <div class="form-group">
        <label for="stato">Stato:</label>
        <select id="stato" formControlName="stato">
          <option disabled>Seleziona Stato</option>
          @for(stato of statoOptions; track $index) {
          <option [value]="stato">{{ stato }}</option>
          }
        </select>
      </div>
    </div>

    <button type="submit" [disabled]="patientForm.invalid">Submit</button>
  </form>
</div>

<!-- kb4 -->
<div class="container">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <!-- 
            nome, cognome,  data di nascita, codice fiscale, ospedale, reparto, codice colore, codice, stato, 


            BIANCO, VERDE, AZZURRO, ARANCIONE, ROSSO
        -->
  </form>
</div>
