<nav
  class="flex items-center justify-between px-4 py-3 bg-white shadow-md mb-4 dark:bg-gray-800"
>
  <!-- Left section with logo and date/time -->
  <div class="flex items-center space-x-6 dark:text-white">
    <!-- Logo -->
    <div class="font-bold text-xl text-blue-600" routerLink="/pazienti">LOGO</div>

    <!-- Date and Time -->
    <div class="flex flex-col text-sm text-gray-600 dark:text-gray-300">
      <div>{{ currentTime() | date : "dd/MM/yyyy" }}</div>
      <div>{{ currentTime() | date : "HH:mm:ss" }}</div>
    </div>
  </div>

  @if(currentPath() !== 'pazienti/add') {
  <!-- Middle section with select -->
  <div class="flex-1 max-w-md mx-4 dark:text-white dark:bg-blue-800">
    <select (change)="filterPz()" [formControl]="ospedaleIdControl"
      class="appearance-none text-black bg-white w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option selected value="">Tutti gli ospedali</option>
      @for(ospedale of ospedali(); track $index) {
        <option [value]="ospedale.id">{{ ospedale.nome }}</option>
      }
    </select>
  </div>

  <!-- Right section with plus icon -->
  <div>
    <a
      routerLink = "/pazienti/add"
      class="flex items-center justify-center w-10 h-10 bg-blue-500 hover:bg-blue-600 text-white rounded-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        />
      </svg>
    </a>
  </div>
  }
  @else {
  <div>
    <a
      routerLink="/pazienti"
      class="flex items-center justify-center w-10 h-10 bg-blue-500 hover:bg-blue-600 text-white rounded-full"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 19l-7-7m0 0l7-7m-7 7h18"
        />
      </svg>
    </a>
  </div>
  }
</nav>
